<div class="container">
    <section class="row d-flex justify-content-center my-3 text-center">
        <h1 class="col-6">Satisfaction Survey</h1>
    </section>
    <section class="row d-flex justify-content-center text-center">
        <mat-card class="col-6">
            <mat-card-content>
                <p>Click here to start the survey</p>
                <a routerLink="/survey">
                    <button class="btn btn-outline-success">Start</button>
                </a>
            </mat-card-content>
        </mat-card>
    </section>
</div>
